.span7.borderright
  %h2 Sign in
  .row-fluid You control this from the admin section
  %br
  #regform
    = form_for @user, url: create_user_session_path do |f|
      .row-fluid
        = f.email_field :email, class: 'bigformoneline span9', placeholder: 'Email Address'
      .row-fluid
        = f.password_field :password, class: 'bigformoneline span9', placeholder: 'Password'
      .row-fluid
        .span2
          %label.checkbox
            Remember me
            = check_box_tag :remember_me
        .span8
          = link_to 'Forgot password?'
      %hr
      .row-fluid
        .span4
          %button.btn.btn-large.btn-block.btn-main{ type: 'submit' } Sign in

.span3.borderright
  %h4 Sign in via
  .row-fluid
    = link_to '#', class: 'btn btn-large btn-block btn-facebook' do
      %i.icon-facebook
      Facebook
  %br
  .row-fluid
    = link_to '#', class: 'btn btn-large btn-block btn-twitter' do
      %i.icon-twitter
      Twitter
  %hr
  %h4 Not a member?
  .row-fluid
    = link_to 'Join now', new_user_registration_path, class: 'btn btn-large btn-block btn-orange'
