.span7.borderright
  %h2 Join Closetcrunch.com
  .row-fluid You control this from the admin section
  %br
  .recwell#regform
    = form_for @user do |f|
      .row-fluid
        = text_field_tag :full_name, nil, class: 'bigformoneline span9', placeholder: 'Full Name'
      .row-fluid
        = f.text_field :username, class: 'bigformoneline span9', placeholder: 'Username'
      .row-fluid
        = f.email_field :email, class: 'bigformoneline span9', placeholder: 'Email Address'
      .row-fluid
        = f.password_field :password, class: 'bigformoneline span9', placeholder: 'Password'
      .row-fluid
        = f.check_box :agree
        = f.label :agree,
          raw("I agree to the terms of the #{link_to 'User Agreement', '#'} and #{link_to 'Privacy Policy', '#'}"),
          class: 'checkbox agreement_to_terms'
      %hr
      .row-fluid
        .span3
          %button.btn.btn-large.btn-block.btn-orange{ type: 'submit' } Join

.span3.borderright
  %h4 Join via
  .row-fluid
    = link_to auth_at_provider_path(provider: :facebook), class: 'btn btn-large btn-block btn-facebook' do
      %i.icon-facebook
      Facebook
  %br
  .row-fluid
    = link_to auth_at_provider_path(provider: :twitter), class: 'btn btn-large btn-block btn-twitter' do
      %i.icon-twitter
      Twitter
  %hr
  %h4 Already a member?
  .row-fluid
    = link_to 'Sign in', '#', class: 'btn btn-large btn-block btn-main'

