!!!
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="" lang="en"><!--<![endif]-->
%head
  / meta
  %meta{ charset: 'utf-8' }
  %meta{ name: 'keywords', content: '' }
  %meta{ name: 'description', content: '' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
  = csrf_meta_tags

  / css
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=Carrois+Gothic'
  = stylesheet_link_tag 'application', media: :all
  / [if IE 7]
    = stylesheet_link_tag 'font-awesome-ie7.min'

  / js
  = javascript_include_tag 'application'

  %title ClosetCrunch
%body{ style: 'margin-top: 0px' }
  #wrapper.container-fluid
    = render 'layouts/shared/alerts'

    .ie-dropdown-fix
      = render 'layouts/shared/header'
      = render 'layouts/shared/nav'

    = render 'layouts/shared/breadcrumbs'

    .row-fluid.contentmargin
      = yield
      .span2.adright
        .row-fluid= image_tag asset_path('ads/SNP_2922332_en_v0.jpg'), size: '200x200'
        %br
        .row-fluid= image_tag asset_path('ads/text-ad.jpg'), size: '159x600'

  = render 'layouts/shared/footer'

