!!!
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="" lang="en"><!--<![endif]-->
%head
  / meta
  %meta{ charset: 'utf-8' }
  %meta{ name: 'keywords', content: '' }
  %meta{ name: 'description', content: '' }
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
  = csrf_meta_tags

  / css
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=Carrois+Gothic'
  = stylesheet_link_tag 'application', media: :all
  / [if IE 7]
    = stylesheet_link_tag 'font-awesome-ie7.min'

  / js
  = javascript_include_tag 'application'

  %title ClosetCrunch
%body{ style: 'margin-top: 0px' }
  #wrapper.container-fluid
    .alert
      %button.close{ data: { dismiss: 'alert' }, type: 'button' } &times;
      %strong Warning!
      This is an alert which I can control from the admin.

    -# Begin logo and search
    .ie-dropdown-fix
      .row-fluid.logomargin
        .span2
          = link_to image_tag(asset_path('logo.jpg'), size: '199x67', alt: 'Closetcrunch Logo'), root_path
        .span3
          .row-fluid.areaname Los Angeles, CA
          .row-fluid= link_to '(Change your area)', '#'
        .span4.offset3.textright#regform
          .row-fluid
            .input-append
              %input.span10.bigformoneline.searchmargintop#appendedInputButton{ placeholder: 'Search...', type: 'text' }
              %button.btn.searchbutton{ type: 'button' }
                %i.icon-search
          .row-fluid
            Logged in as
            = link_to 'example@example.com', '#'
            = raw "(#{link_to 'Log out', '#'})"

      -# Begin Navigation
      #navigation
        %ul#nav
          %li= link_to 'Home', '#'
          %li= link_to 'Men', '#', class: 'active'
          %li
            = link_to 'Women', '#'
            %ul
              %li= link_to 'Petite', '#'
              %li= link_to 'Tall', '#'
              %li= link_to 'Plus Size', '#'
              %li= link_to 'Maternity', '#'
          %li
            = link_to 'Children', '#'
            %ul
              %li= link_to 'Infant Boy', '#'
              %li= link_to 'Infant Girl', '#'
              %li= link_to 'Toddler Boy', '#'
              %li= link_to 'Toddler Girl', '#'
              %li= link_to 'Boy', '#'
              %li= link_to 'Girl', '#'
          %li= link_to 'Forums', '#'
          %li
            = link_to 'More', '#'
            %ul
              %li= link_to 'About Us', '#'
              %li= link_to 'Privacy Policy', '#'
              %li= link_to 'Terms of Service', '#'
              %li= link_to 'Contact Us', '#'
          %li
            = link_to 'My Account', '#'
            %ul
              %li= link_to 'New Listing', '#'
              %li= link_to 'My Listings', '#'
              %li= link_to 'Watchlist', '#'
              %li= link_to 'Account Settings', '#'
              %li= link_to 'Logout', '#'
          %li.membernav
            = link_to '#' do
              %i.icon-plus
              New Listing
      .nav-shadow
      .clear

    .row-fluid
      .span10
        %ul.breadcrumb
          %li
            = link_to 'Home'
            %span.divider >>
          %li.active Men
      .span2.textright

    .row-fluid.contentmargin
      .span2
        %h4 Filter
        .row-fluid
          %h5 Category
          .row-fluid
            %select.span12{ name: 'd' }
              %option Category
              %option Dallas, Texas
              %option New York, New York
        .row-fluid
          .row-fluid
            %select.span12{ name: 'd' }
              %option Subcategory
              %option Dallas, Texas
              %option New York, New York
        %hr
        .row-fluid
          %h5 Size &ndash; Men
          .row-fluid
            %label.checkbox
              %input#inlineCheckbox2{ type: 'checkbox', value: 'option2' }
              Small
            %label.checkbox
              %input#inlineCheckbox3{ type: 'checkbox', value: 'option3' }
              Medium
            %label.checkbox
              %input#inlineCheckbox1{ type: 'checkbox', value: 'option1' }
              Large
        %hr
        .row-fluid
          %h5 Item Condition
          .row-fluid
            %label.checkbox
              %input#inlineCheckbox2{ type: 'checkbox', value: 'option2' }
              New
            %label.checkbox
              %input#inlineCheckbox3{ type: 'checkbox', value: 'option3' }
              Pre-owned
            %label.checkbox
              %input#inlineCheckbox1{ type: 'checkbox', value: 'option1' }
              Defective
        %hr
        .row-fluid
          %h5 Seller Type
          .row-fluid
            %label.checkbox
              %input#inlineCheckbox1{ type: 'checkbox', value: 'option1' }
              Individual
            %label.checkbox
              %input#inlineCheckbox2{ type: 'checkbox', value: 'option2' }
              Business
        %hr
        .row-fluid
          = link_to 'Submit', '#', class: 'btns btns-orange'
          = link_to 'Clear', '#', class: 'btns'

      .span8.borderright.borderleft
        %h3 Men
        .row-fluid
          .span6
            %input.span12{ placeholder: 'Search...', type: 'text' }
          .span6
            %select.span7.pull-right{ name: 'd' }
              %option Sort:
              %option Alphabetically: A to Z
              %option Alphabetically: Z to A
              %option Date Posted: Newest to Oldest
              %option Date Posted: Oldest to Newest
        %br
        .row-fluid= image_tag asset_path('ads/adsense_185679_adformat-link_728x15_en.png'), size: '698x15'
        %br
        .row-fluid
          .span3= link_to image_tag(asset_path('P14206720.jpg'), alt: 'Jeans', size: '250x250', class: 'thumbnail'), '#'
          .span7
            = link_to 'Item Title', '#', class: 'itemtitle'
            %span.supernew New
            .row-fluid Size: 32x30
            .row-fluid Condition: Used
            .row-fluid Brand: Nike
            .row-fluid
          .span2.textright
            .row-fluid.itemprice $99.99
            .row-fluid.watchstar
              = link_to '#', title: 'Watch this item' do
                %i.icon-star-empty
        %hr
        .row-fluid
          .span3= link_to image_tag(asset_path('P14206720.jpg'), alt: 'Jeans', size: '250x250', class: 'thumbnail'), '#'
          .span7
            = link_to 'Item Title', '#', class: 'itemtitle'
            %span.supernew New
            .row-fluid Size: 32x30
            .row-fluid Condition: Used
            .row-fluid Brand: Nike
            .row-fluid
          .span2.textright
            .row-fluid.itemprice $99.99
            .row-fluid.watchstar
              = link_to '#', title: 'Watch this item' do
                %i.icon-star
        %hr
        .row-fluid
          .span3= link_to image_tag(asset_path('P14206720.jpg'), alt: 'Jeans', size: '250x250', class: 'thumbnail'), '#'
          .span7
            = link_to 'Item Title', '#', class: 'itemtitle'
            %span.supernew New
            .row-fluid Size: 32x30
            .row-fluid Condition: Used
            .row-fluid Brand: Nike
            .row-fluid
          .span2.textright
            .row-fluid.itemprice $99.99
            .row-fluid.watchstar
              = link_to '#', title: 'Watch this item' do
                %i.icon-star-empty
        %hr
        .row-fluid
          .span3= link_to image_tag(asset_path('P14206720.jpg'), alt: 'Jeans', size: '250x250', class: 'thumbnail'), '#'
          .span7
            = link_to 'Item Title', '#', class: 'itemtitle'
            %span.supernew New
            .row-fluid Size: 32x30
            .row-fluid Condition: Used
            .row-fluid Brand: Nike
            .row-fluid
          .span2.textright
            .row-fluid.itemprice $99.99
            .row-fluid.watchstar
              = link_to '#', title: 'Watch this item' do
                %i.icon-star-empty
        %hr
        .row-fluid
          .span3= link_to image_tag(asset_path('P14206720.jpg'), alt: 'Jeans', size: '250x250', class: 'thumbnail'), '#'
          .span7
            = link_to 'Item Title', '#', class: 'itemtitle'
            %span.supernew New
            .row-fluid Size: 32x30
            .row-fluid Condition: Used
            .row-fluid Brand: Nike
            .row-fluid
          .span2.textright
            .row-fluid.itemprice $99.99
            .row-fluid.watchstar
              = link_to '#', title: 'Watch this item' do
                %i.icon-star-empty
        %hr
        .row-fluid
          .span3= link_to image_tag(asset_path('P14206720.jpg'), alt: 'Jeans', size: '250x250', class: 'thumbnail'), '#'
          .span7
            = link_to 'Item Title', '#', class: 'itemtitle'
            %span.supernew New
            .row-fluid Size: 32x30
            .row-fluid Condition: Used
            .row-fluid Brand: Nike
            .row-fluid
          .span2.textright
            .row-fluid.itemprice $99.99
            .row-fluid.watchstar
              = link_to '#', title: 'Watch this item' do
                %i.icon-star-empty
        %hr
        .row-fluid
          .span3= link_to image_tag(asset_path('P14206720.jpg'), alt: 'Jeans', size: '250x250', class: 'thumbnail'), '#'
          .span7
            = link_to 'Item Title', '#', class: 'itemtitle'
            %span.supernew New
            .row-fluid Size: 32x30
            .row-fluid Condition: Used
            .row-fluid Brand: Nike
            .row-fluid
          .span2.textright
            .row-fluid.itemprice $99.99
            .row-fluid.watchstar
              = link_to '#', title: 'Watch this item' do
                %i.icon-star-empty
        %hr
        .row-fluid
          .span3= link_to image_tag(asset_path('P14206720.jpg'), alt: 'Jeans', size: '250x250', class: 'thumbnail'), '#'
          .span7
            = link_to 'Item Title', '#', class: 'itemtitle'
            %span.supernew New
            .row-fluid Size: 32x30
            .row-fluid Condition: Used
            .row-fluid Brand: Nike
            .row-fluid
          .span2.textright
            .row-fluid.itemprice $99.99
            .row-fluid.watchstar
              = link_to '#', title: 'Watch this item' do
                %i.icon-star-empty
        %hr
        .row-fluid
          .span3= link_to image_tag(asset_path('P14206720.jpg'), alt: 'Jeans', size: '250x250', class: 'thumbnail'), '#'
          .span7
            = link_to 'Item Title', '#', class: 'itemtitle'
            %span.supernew New
            .row-fluid Size: 32x30
            .row-fluid Condition: Used
            .row-fluid Brand: Nike
            .row-fluid
          .span2.textright
            .row-fluid.itemprice $99.99
            .row-fluid.watchstar
              = link_to '#', title: 'Watch this item' do
                %i.icon-star-empty
        %hr
        .row-fluid
          .pagination.pagination-centered
            %ul
              %li= link_to 'Prev', '#'
              %li= link_to '1', '#'
              %li= link_to '2', '#'
              %li= link_to '3', '#'
              %li= link_to '4', '#'
              %li= link_to 'Next', '#'

      .span2.adright
        .row-fluid= image_tag asset_path('ads/SNP_2922332_en_v0.jpg'), size: '200x200'
        %br
        .row-fluid= image_tag asset_path('ads/text-ad.jpg'), size: '159x600'

  .footer
    .container-fluid
      .row-fluid.footerdescription
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum tortor
        ut nisl vehicula gravida. Nulla hendrerit elit vel risus pellentesque rutrum.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Sed sit amet lectus quis nisl laoreet sodales. Praesent imperdiet ipsum
        quis nulla adipiscing in accumsan risus consectetur. Nunc ultricies dictum lorem,
        non fringilla nulla suscipit vitae. In hac habitasse platea dictumst. Vivamus
        vel arcu ac diam aliquam tincidunt et ac sem. Aenean at lacinia mi. Fusce laoreet,
        mi egestas elementum cursus, magna justo hendrerit augue, at vehicula tortor
        eros a ligula.
      .row-fluid.footernav
        %ul.footernavlist
          %li= link_to 'Home', '#'
          %li= link_to 'About Us', '#'
          %li= link_to 'FAQ\'s', '#'
          %li= link_to 'User Agreement', '#'
          %li= link_to 'Privacy Policy', '#'
          %li= link_to 'Contact Us', '#'
      .row-fluid
        Logged in as
        = link_to 'example@example.com', '#'
        = raw "(#{link_to 'Log out', '#'})"
      %br
      .row-fluid
        .span9
          Copyright &copy; 2013 Closetcrunch.com. All Rights Reserved
        .span3.textright
          %ul.socialfooter
            %li
              = link_to '#' do
                %i.icon-facebook
              = link_to '#' do
                %i.icon-twitter
  = yield

